:root {
    --words-untouched: blue;
    --words-touched: darkblue;
    --images-touched: rgba(0, 0, 0, 0.5);

}

body {
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header {
    background-color: red;
    text-transform: uppercase;
    padding: 50px 0 0 0;

    left: 0;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1000;
}

header nav ul {
    display: flex;
    font-size: 200%;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}

header nav ul li a {
    border: 2px solid black;
    border-radius: 10px;
    color: var(--words-untouched);
    padding: 5px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: var(--words-touched);
    text-decoration: underline;
}

header .logo a {
    background-image: url(../img/FB.jpg);
    background-position: center;
    background-size: cover;
    
    border: none;
    border-radius: 50%;
    height: 80px;
    width: 80px;

    position: relative;
    top: -30px;
    
    display: inline-block;
    text-indent: -100000px;
    overflow: hidden;
}

header .logo a:hover {
    background-color: var(--images-touched);
    background-blend-mode: multiply;
}

@media screen and (max-width: 1000px) {
    header .logo {
        display: none;
    }
}

/* SUBTITLE */
.subtitle {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.subtitle h2 {
    border: 5px solid black;
    border-radius: 50px;
    padding: 20px;

    text-transform: uppercase;
    text-align: center;
}

/* HOME */
#home {
    background-color: lightcoral;
    scroll-margin-top: 150px;
    padding: 150px 0 100px 0;
}

#home .other {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

}

#home figure {
    text-align: center;
    text-transform: uppercase;

    margin: auto;
    padding-top: 50px;
}

#home figure a.image {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 5px;

    display: inline-block;

    height: 400px;
    width: 400px;

    overflow: hidden;
    position: relative;

}

#home figure a.image::after {
    background-color: var(--images-touched);
    border-radius: 50%;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    opacity: 0;
}

#home figure a.image:hover::after {
    opacity: 1;
}

#home figure a.image:hover + figcaption a {
    color: var(--words-touched);
    text-decoration: underline;
}

#home figure a img {
    height: 100%;
    width: 100%;
}

#home figcaption a {
    color: var(--words-untouched);
    font-size: 150%;
    text-decoration: none;
}

#home figcaption a:hover {
    color: var(--words-touched);
    text-decoration: underline;
}

#home figure:has(figcaption a:hover) a.image::after {
    opacity: 1;
}

/* ABOUT-ME */
#about-me {
    background-color: orange;
    scroll-margin-top: 150px;
    padding: 0 0 50px 0;
}

#about-me .other {
    display: flex;
    padding-top: 50px;

    flex-wrap: wrap;
}

#about-me img {
    border: 5px solid black;
    border-radius: 50%;

    margin: 0 auto;
    height: 700px;
    width: 500px;
    padding: 0;

    object-fit: cover;
    object-position: 83% center;
}

#about-me .other div {
    border: 5px solid black;
    border-radius: 50px;
    margin: 0 auto;
    width: 800px;

    text-align: center;
    
}



/* SIDE-PROJECT */
#side-project {
    background-color: yellow;

    scroll-margin-top: 150px;
}

#side-project .project-1 {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 0;

    flex-wrap: wrap;
}

#side-project .project-1 img {
    border: 5px solid black;
    border-radius: 50%;
    margin: 0 auto;

    height: 700px;
    width: 700px;

    object-fit: cover;
}

@media screen and (max-width: 700px) {
    #side-project .project-1 img {
        width: 100%;
        height: 100%;
    }
}

#side-project .project-2 {
    display: flex;
    flex-direction: row;
    padding: 50px 0;

    flex-wrap: wrap;
}

#side-project .project-2 img {
    border: 5px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;

    height: 700px;
    width: 500px;

    object-fit: cover;
    object-position: 83% center;
}

#side-project article {
    border: 5px solid black;
    border-radius: 50px;
    margin: 0 auto;

    width: 800px;

    text-align: center;
}

#side-project article h3 {
    text-transform: uppercase;
}

/* INTERESTS */
#interests {
    background-color: green;

    scroll-margin-top: 150px;
}

#interests .other {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 50px 0;

    flex-wrap: wrap;
}

#interests .other div {
    border: 5px solid black;
    border-radius: 50px;
    margin: 0 auto;
    width: 700px;
}

#interests .other div h3 {
    text-align: center;
}

#interests .travel ul {
    list-style-type: none;
}

#interests .travel ul li h4 {
    display: inline-block;
    text-align: center;
    width: 370px;
}

#interests .travel .high {
    border-radius: 30px;
    float: right;
    height: 350px;
    width: 250px;

    margin: 0 20px 20px 0;
    object-fit: cover;
    object-position: center 30%;
}

#interests .travel .short {
    border-radius: 30px;
    width: 370px;

    object-fit: cover;
}

/* FOOTER */
footer {
    background-color: blue;
    display: flex;
    justify-content: center;
}